/*Color Theme Choices for Little Quest*/
/*Light Blue - #3DA539*/
/*Teal - #73BFB8*/
/*Yellow - #FEC601*/
/*Orange - #EA7317*/
/*Dark Blue - #19647E*/

/*organized by tag, class then id, in alphabetical order for each type respectively*/

/*tags*/
html{
    position: relative;
    min-height: 100%;
}

body {
    background-color: #19647E;
    color: white;
    font-size: 3vh;
}

nav {
    background-color: #FEC601 ;
    font-size: 3vh;
    color: #0D3945;
}

a{
    color: #0D3945;
}

a:hover{
    text-decoration: none;
}

a:visited{
    color: #0D3945;
    text-decoration: none;
}

h1, h2 {
    margin-top: 3vh;
}

main section{
    padding-left: 5vw;
    padding-right: 5vw;
}

img {
    align-content: center;
    display: inline-block;
    height: auto;
    margin: 2vw;
}

button {
    background-color: #FEC601;
    color: #0D3945;
}

li {
    list-style-type: none;
    display: block;
}

footer{
    background-color: #FEC601;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2vh;
    padding: 1vh;
}

/*classes*/
.about-button {
    width: 40vw;
    padding:auto;
    margin: 2vh auto 2vh auto;
    background-color: #FEC601;
    color: #0D3945;
}

.button-spacing{
    margin-top: 2vh;
}

.choice-form {
    margin-top: 1.5em;
}

.footer-menu{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-menu li{
    display: inline;
    margin: 0 3vw;
}

.footer-menu form{
    display: inline;
}

.general-error-p{
    text-align: center;
}

.last-buttons{
    margin-bottom: 8vh;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.story {
    display: inline;
    margin-bottom: 1em;
}

.tiny{
    font-size: 2vh;
    font-style: italic;
}

/*ids*/

#choice-button {
    width: 35vw;
    padding:auto;
    margin: 4vh auto 8vh auto;
    background-color: #FEC601;
    color: #0D3945;
}

#deleteform button{
    border: none;
    background-color: #FEC601;
    color: #0D3945;
}

#delete-main{
    margin: auto;
    width: 60%;
}

#delete-h1{
    text-align: center;
}

#delete-message{
    text-align: center;
}

#end-button{
    margin-bottom: 4vh;
    background-color: #FEC601;
    color: #0D3945;
}

#entry-button {
    width: 45vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    align: center;
}

#general-error-main{
    margin: auto;
    width: 60%;
}

#general-error-h1{
    text-align: center;
}

#login-error-main{
    margin: auto;
    width: 60%;
}

#login-error-h1{
    text-align: center;
}

#login-error-p{
    text-align: center;
}

#logout-button {
    width: 35vw;
    padding:auto;
    margin: 4vh auto 8vh auto;
    background-color: #FEC601;
    color: #0D3945;
}



#prompt {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid
}

#register-button {
    width: 35vw;
    padding:auto;
    margin:0 auto 4vh auto;
    background-color: #FEC601;
    color: #0D3945;
}

#signin-button {
    width: 35vw;
    padding:auto;
    margin: auto;
    background-color: #FEC601;
    color: #0D3945;
}

#story-button {
    width: 40vw;
    padding:auto;
    font-size: 2vh;
    margin: 1em auto;
    background-color: #FEC601;
    color: #0D3945;
}

#special-spacer{
    line-height: 5vh;
    margin-bottom: 10vh;
}

#story-choice-h1{
    text-align: center;
    margin-bottom: 2em;
}

#story-choice-h2{
    text-align: center;
    margin-top: .75em;
}

#story-choice-main{
    margin: auto;
    width: 60%;
}

#story-choice-ul{
    text-align: center;
}

#story-path-section{
    margin: auto;
    width: 70%;
}

