/*Color */
/*Light Blue - #3DA539*/
/*Teal - #73BFB8*/
/*Yellow - #FEC601*/
/*Orange - #EA7317*/
/*Dark Blue - #19647E*/
html{
    position: relative;
    min-height: 100%;
}

body {
    background-color: #19647E;
    color: white;
    font-size: 3vh;
    /*margin-bottom: 60px;*/
}

nav {
    background-color: #FEC601 ;
    font-size: 3vh;
    color: #0D3945;
}

main section{
    padding-left: 5vw;
    padding-right: 5vw;
}

h1{
    margin-top: 3vh;
}

nav > form{
    margin: -2vw auto 2vw auto;
    /*padding: -10vw auto;*/
    position: relative;
    height: 2vh;
}

img {
    align-content: center;
    display: inline-block;
    height: auto;
    margin: 4vw auto 3vw auto;
}

button {
    background-color: #FEC601;
    color: #0D3945;
    /*margin: auto;*/
    /*width: 15%;*/
}

a{
    color: #0D3945;
}

a:hover{
    text-decoration: none;
}

a:visited{
    color: #0D3945;
    text-decoration: none;
}


li {
    list-style-type: none;
    display: block;

}

footer{
    background-color: #FEC601;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.5vh;
    /*padding: 1vh;*/
}

/*.about{*/
    /*align-content: left;*/
    /*margin-left: 3vw;*/
/*}*/

.about-button {
    width: 40vw;
    padding:auto;
    margin: 2vh auto 2vh auto;
}

.choice-form {
    margin-top: 1.5em;
}

.nav-space{
    margin-left: 2vh;
}

.no-border-button{
    border: none;
    margin: 3vh -1vh;
}

.footer-menu{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-menu ul{
    /*margin: 3vw auto;*/
    padding:0;
}

.footer-menu li{
    display: inline;
    margin: 0 3vw;
}

.footer-menu form{
    display: inline;
}

.last-buttons{
    margin-bottom: 8vh;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.story {
    display: inline;
}

#end-button{
    margin-bottom: 15vh;
}
#entry-button {
    width: 45vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: auto;
    align: center;
}

#logout {
    /*margin-top: 4em;*/
}

#logout-button {

    width: 35vw;
    padding:auto;
    font-size: auto;
    margin: 4vh auto 8vh auto;
}

#register-button {
    width: 35vw;
    padding:auto;
    font-size: auto;
    margin:0 auto 4vh auto;
}

#signin-button {
    width: 35vw;
    padding:auto;
    font-size: auto;
    margin: auto;
}

#story-button {
    width: 40vw;
    padding:auto;
    font-size: 2vh;
    margin: auto;
}

#special-spacer{
    line-height: 5vh;
    margin-bottom: 10vh;

}
#tiny{
    font-size: 2vh;
    font-style: italic;
}

/*@media only screen and (min-width: 600px){*/
    /*li {*/
        /*list-style-type: none;*/
        /*display: block;*/

    /*}*/
/*}*/