/*Color */
/*Light Blue - #3DA539*/
/*Teal - #73BFB8*/
/*Yellow - #FEC601*/
/*Orange - #EA7317*/
/*Dark Blue - #19647E*/

html{
    position: relative;
    min-height: 100%;

}

body {
    background-color: #19647E;
    color: white;
    font-size: 3vh;
    /*margin-bottom: 60px;*/
}

nav {
    background-color: #FEC601 ;
    font-size: 3vh;
    color: #0D3945;
}


a{
    color: #0D3945;
}

a:hover{
    text-decoration: none;
}

a:visited{
    color: #0D3945;
    text-decoration: none;
}

img {
    align-content: center;
    display: inline-block;
    height: auto;
}

button {
    background-color: #FEC601;
    color: #0D3945;
    /*margin: auto;*/
    /*width: 15%;*/
}

/*li {*/
    /*list-style-type: none;*/
    /*display: block;*/

/*}*/

.choice-form {
    margin-top: 1.5em;
}

footer{
    background-color: #FEC601;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2vh;
    padding: 1vh;
}

.story {
    display: inline;
}

.about{
    align-content: left;
    margin-left: 3vw;
}

.about-button {
    width: 40vw;
    padding:auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.footer-menu{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-menu li{
    display: inline;
    margin: 0 3vw;
}

.footer-menu form{
    display: inline;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

#deleteform button{
    border: none;

}

#entry-button {
    width: 45vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: auto;
    align: center;
}

#signin-button {
    width: 35vw;
    padding:auto;
    font-size: auto;
    margin: auto;
}

#register-button {
    width: 35vw;
    padding:auto;
    font-size: auto;
    margin:0 auto 4vh auto;
}

#logout-button {

     width: 35vw;
     padding:auto;
     font-size: auto;
     margin: 4vh auto 8vh auto;
 }


#story-button {
    width: 40vw;
    padding:auto;
    font-size: 2vh;
    margin: auto;
}

#logout {
    /*margin-top: 4em;*/
}

#tiny{
    font-size: 2vh;
    font-style: italic;
}

/*@media only screen and (min-width: 600px){*/
    /*li {*/
        /*list-style-type: none;*/
        /*display: block;*/

    /*}*/
/*}*/