<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1>Amy Cohen</h1>
<button href="https://github.com/AmyCohen?tab=repositories">Check out Github</button>
<button href="https://www.linkedin.com/in/amyvcohen/">Check out my LinkedIn!</button>

<h1>Suzanne Richman</h1>
<button href="https://github.com/FavoredFortune">Check out Github</button>
<button href="https://www.linkedin.com/in/suzannerichman/">Check out my LinkedIn!</button>

<h1>Nicklas Di Pietro</h1>
<button href="https://github.com/Seiyaroo">Check out Github</button>
<button href="https://www.linkedin.com/in/nicklasdipietro/">Check out my LinkedIn!</button>
</body>
</html>