<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta description="Little Quest - About Us">
    <meta charset="UTF-8">

    <!--meta tags for social media links from url and search engines-->
    <meta property="og:title" content="Little Quest Coming Soon">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://littlequest.us/coming-soon.html">
    <meta property="og:description" content="Little Quest is a short story game.">
    <meta property="og:image" content="http://littlequest.us/images/LQ_small.png">

    <title>Coming Soon</title>
    <div th:replace="~{common :: head}"></div>
</head>
<body>
<header class="main-container">
    <div th:replace="~{common :: nav}"></div>
</header>
<main class="container">
    <div class="form-row text-center">
        <section class="about">
            <h1>Coming Soon!</h1>
            <p>Little Quest is constantly under improvement and evolving to add new and better features. Below are some features and attractions that are in-process. Look out for updates!
            </p>
        </section>
    </div>
    <div>
        <ul>
            <li><h2>New stories</h2></li>
            <p>Looking for new content? No problem! New stories are in progress and will be added when complete.</p>
            <li><h2>Create your own stories</h2></li>
            <p>Do you have an idea for a questing adventure? We'd love to provide a platform for you to express yourself. We're working on a way for you to create your story and have it added to our library so others can experience your wit and creativity.</p>
            <li><h2>Reading levels</h2></li>
            <p>Would you like to choose stories faster by having access to the reading level associated with the story? We would too! A feature is going to be added for filtering by reading level to provide you with the best curated library.</p>
            <li><h2>Reading times</h2></li>
            <p>Only have a limited time but really want to go on an adventure? Choose by reading time! At least you will be able to filter for reading times soon.</p>
            <li><h2>User progress</h2></li>
            <p>Dislike having to start stories over from scratch? We do too! Soon you'll be able to save your progress in a story and be able to pick back up where you left off. No more walking the same path over and over to get to your destination!</p>
            <li><h2>AND MORE!</h2></li>
            <p>Little Quest is not done and will likely be evolving for a while as we come up with more and new things to make adventures more fun and accessible.</p>
        </ul>
    </div>
</main>
<div th:replace="~{common :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>