<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Little Quest</title>
    <link rel="stylesheet" href="/css/main.css"/>


</head>
<body>
<h1>Welcome to Little Quest!</h1>
<p>We are a choose your own adventure style game, where you get to decide the path to
the end and see your story come to life. Please feel free to register with us if you would like to keep track of
    your completed stories, and soon, a chance to create your own stories to share with your friends!</p>

<button type="button"><a href="/portal">Log In or Register</a></button>
</body>
</html>