<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Story Selection</title>
    </head>
    <body>
        <a href="/">HOME</a>
        <div>
            <ul>
                <li th:each= "story : ${stories}">

                    <form th:action="'/story' + ${story.story_id}" method="GET">
                        <button id="story-button" class="btn btn-lg btn-outline-secondary btn-block" type="submit"><span th:text= "${story.title}" /></button>
                    </form>

                </li>
            </ul>
        </div>
    </body>

</html>