<!DOCTYPE html>

<!--Thymeleaf library helps populate template with data-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Play Story</title>
        <div th:replace="~{common :: head}"></div>
    </head>
    <body>
        <header class="main-container">
            <div th:replace="~{common :: nav}"></div>
        </header>
        <section id="story-path-section">
            <div>
                <ul>
                    <div th:each="prompt : ${prompts}">
                        <p id="prompt" th:text="${prompt.prompt_text}"><p></p>
                        <div th:each="choice : ${choices}">

                            <form class="choice-form" th:action="'/story/'+ ${prompt.prompt_id} + '/' + ${choice.choice_id} + '/' + ${choice.choice_a_id}" method="GET">
                                <li class="story"><span th:text= "${choice.choice_a_text}" /><p><button
                                        class="btn btn-lg btn-warning btn-block button-spacing" type="submit"
                                >Go This Way</button></p></li>
                            </form>
                            <form class="choice-form" th:action="'/story/'+ ${prompt.prompt_id} + '/' + ${choice.choice_id} + '/' + ${choice.choice_b_id}" method="GET">
                                <li class="story"><span th:text= "${choice.choice_b_text}" /><p><button
                                        class="last-buttons btn btn-lg btn-warning btn-block button-spacing"  type="submit">Go
                                    That Way</button></p></li>
                            </form>
                        </div>
                    </div>
                    <div th:if="${isEnd} == true">
                        <form action="/story-choice" method="GET">
                        <button type="submit">Play Again</button>
                        </form>
                    </div>
                </ul>
            </div>
        </section>
        <div th:replace="~{common :: footer}"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>