<!DOCTYPE html>

<!--Thymeleaf library helps populate template with data-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Story Selection</title>
        <div th:replace="~{common :: head}"></div>
    </head>
    <body>
        <header class="main-container">
            <div th:replace="~{common :: nav}"></div>
        </header>
        <main id="story-choice-main">
            <h1 id="story-choice-h1">Choose Your Quest</h1>
            <ul id="story-choice-ul">
                <li th:each= "story : ${stories}">
                    <form th:action="'/story/' + ${story.story_id}" method="GET">
                        <h2 th:text= "${story.title}" id="story-choice-h2"/>
                        <button class="btn btn-lg btn-warning btn-block button-spacing"
                                type="submit">Start Quest</button>
                    </form>
                </li>
            </ul>
        </main>
        <div th:replace="~{common :: footer}"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>